.menu-main__title {
  font-weight: bold;
}
nav,
section {
  width: 90vw;
  margin: 0 auto;
}
nav {
  color: #000;
  background-color: #ff6600;
  padding: 2px;
}
header {
  display: block;
  height: 80px;
}

.menubar {
  top: 0;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 80px;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 0 5%;
}
